/*p{
    color:tomato;
    background-color:rgba(red, green, blue, alpha)
    font-size: medium;
    align-content: ; */
}
.error-msg{
    background-color: red;
    color: white;

}
#success-msg{
    background-color: green;
    color: white;
}
p{

color: red;
background-color: rgba(196, 71, 71);
}