p{
    color:tomato;
    background-color: greenyellow;
    font-size: medium;
    align-content: ;
}
.error-msg{
    background-color: red;
    color: white;

}
#success-msg{
    background-color: green;
    color: white;
}